.MainCatalog{
    display: flex;
    flex-direction: column;
    max-width: 924px;
    margin: 0 auto;
    margin-top: 60px;
    align-items: center;

    .MainCatalog__cards{
        display: flex;
        gap: 27px;
        margin-top: 10px;
    }

    .MainCatalog__title{
        font-size: 24px;
        font-weight: 700;
        color: #563782;
    }
}

@media (max-width: 375px) {
    .MainCatalog{
        max-width: 336px;
        margin-top: 30px;

        .MainCatalog__cards{
            flex-wrap: wrap;
            gap: 4px;
        }
    }
}