.Card{
    width: 216px;
    height: 162px;
    border-radius: 20px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}