.Dostavka{
    margin-top: 50px;

    .Dostavka__inner{
        max-width: 1056px;
        margin: 0 auto;
        margin-bottom: 177px;

        .Dostavka__inner_navig{
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 12px;
            font-weight: 400;

            >a{
                text-decoration: none;
                color: #4A1A8C;
            }

            .Dostavka__inner_navig_p{
                color: #3A2557;
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }

        >h1{
            font-size: 32px;
            font-weight: 700;
            color: #3A2557;
            margin-top: 50px;
        }

        >p{
            color: #603699;
            font-size: 20px;
            font-weight: 700;
            margin-top: 20px;
        }

        .Dostavka__inner_content {
            display: flex;
            gap: 10px;
            margin-top: 50px;

            .content_card{
                width: 256px;
                height: 153px;
                border-radius: 20px;
                background-color: #f5f5f5;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                >img{
                    width: 250px;
                    height: 147px;
                    border-radius: 10px;
                }
            }
        }
    }
}