.Admin {
    margin-top: 50px;
    background-color: #F1EDF7;

    .Admin__inner {
        max-width: 1056px;
        margin: 0 auto;

        .Admin__inner_navig {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 12px;
            font-weight: 400;

            >a {
                text-decoration: none;
                color: #4A1A8C;
            }

            .Admin__inner_navig_p {
                color: #3A2557;
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }
    }

    .Admin__razm{
        max-width: 558px;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 50px;

        .Admin__content{
            width: 558px;
            /* height: max-content; */
            height: 1728px;
            padding-left: 80px;
            padding-right: 80px;
            background-color: white;
            border-radius: 20px;
        }
    }
}